<form action="/input" method="POST">
						<div class="form-group" id="#signup-form">
                            GRE Score
							<br><input type="text" class="form-control" value = "320" placeholder="GRE Score" name="GRE">
						</div>

						<div class="form-group">
                            TOEFL Score
							<br><input type="text" class="form-control" value = "100" placeholder="TOEFL Score" name="TOEFL">
						</div>

						<div class="form-group">
                            Universicy Rating
							<br><input type="text" class="form-control" value = "3"  placeholder="Universicy Rating" name="rate">
						</div>

						<div class="form-group">
                            Statement of Purpose Strength
							<br><input type="text" value = "4.5" class="form-control" placeholder="SOP" name="SOP">
						</div>

						<div class="form-group">
                            Letter of Recommendation Strength
							<br><input type="text"value = "4.5" class="form-control" placeholder="LOR" name="LOR">
						</div>
                        <div class="form-group">
                            Your GPA
							<br><input type="text" value = "7" class="form-control" placeholder="GPA" name="GPA">
						</div>

                        <div class="form-group">
                            <input type="checkbox" name="ResearchCheck" value="hasResearch">Research Experience

						</div>





						<button type="submit" value="calculate" class="btn btn-default submit">Calculate</button>
					</form>
